

{% extends 'base.html' %} {% block content %}

<h1>About the Hedgehog Collector</h1>
<hr />
<p>Hire the Hedgehog Collector!</p>

<h4> How to Keep your Hedgie Happy </h4>

<p>Do you have a hedgehog for a pet? If so, you have a super cute animal companion! 
    But how do you keep a hedgehog content?</p>

    <h4>Exercise</h4>
    <p>Make sure Hedgie gets time out of his cage regularly. One thing you can do is get the little guy a kiddie pool, and put some fun toys in it. That way, you don’t have to watch him as closely.</p>
    
    <h4>Hidey-Hole</h4>
    <p>Smaller animals always need at least one good hidey-hole. Get your adorable buddy a tiny igloo, or a cute little castle. Cozies, which are basically small pouches, are also a good choice. Make sure it’s big enough for your pet to turn around inside it.</p>
    
    <h4>Treats</h4>
    <p>Most pets love treats, and Hedgie is no exception. You can give your prickly pal insects, such as crickets, wax worms, silk worms, or mealworms. Certain cat or dog treats are also fine. Other options include cooked egg, chicken, salmon, or turkey. Ask your vet for specific recommendations.</p>
    
    <h4>Tunnels</h4>
    <p>Like many pocket pets, hedgehogs love to explore mazes and tunnels. This will keep Hedgie active, and offer him mental stimulation. You can buy labyrinths, or make your own out of shoeboxes or PVC pipe. To make your pet’s explorations even more fun for him, hide a snack at the end of the tunnel.</p>
    
    <h4>Toys</h4>
    <p>Hedgie will spend the majority of his time in his cage, so it’s important to make it fun for him. One way to do that is to give the little guy plenty of toys. Some things your pet may enjoy include balls, small cars and trucks, and stuffed animals. You can also offer him DIY toys. For instance, the cardboard tubes from toilet-paper rolls make great chew toys. (It’s probably worth noting that hedgehogs seem to prefer bright colors.)</p>
    
    <h4>Sleeping Bags</h4>
    <p>Hedgehogs love to burrow into things and make little nests. Give your pet some soft blankets. Put some into a shoebox to make it even more appealing for him.</p>
    
    <h4>Cuddles</h4>
    <p>Many hedgehogs actually don’t mind snuggling with their owners. Wrap your pint-sized pal in a cozy blanket, and let him snooze on your lap.</p>
    

{% endblock %}